:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --olive: #3F4739;
  --light-olive: #65715B;
  --dark-olive: #33392D;
  --white: #FAFAFA;
  --ivory: #F2F5EA;
}

body {
  margin: 0;
  background-color: var(--white);
  color: var(--olive);
}

nav {
  display: flex;
  gap: 2em;
  align-items: center;
  padding-left: 2em;
  background-color: var(--olive);
  color: var(--white);
}

main {
  padding: 0 10vw;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-titles {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 1px solid var(--dark-olive);
  justify-items: center;
}

.section-titles h4 {
  margin: .5em
}

.board {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.story {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
}

.lane {
  background-color: var(--ivory);
  border-radius: .25em;
  padding: .5em;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.card {
  min-height: 4em;
  border-radius: .25em;
  background-color: #65715B;
  color: var(--white)
}

.story-title {
  height: 100%;
  display: flex;
  color: var(--olive);
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.card > h4 {
  text-align: center;
}