:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --olive: #3F4739;
  --light-olive: #65715B;
  --dark-olive: #33392D;
  --ivory: #F2F5EA;
}

body {
  margin: 0;
  background-color: var(--ivory);
}

nav {
  display: flex;
  gap: 2em;
  align-items: center;
  padding-left: 2em;
  background-color: var(--olive);
  color: var(--ivory);
}

a {
  text-decoration: none;
  color: inherit;
}